{% extends "base.html" %} {% block content %}
<!-- Masthead-->
<header class="masthead fondo1 text-white  ">
   
    <div class="mensaje container color2tr">

      
        <p class="separadorTOP fs-2 text-center">
            Gracias por participar en esta encuesta 
        </p>
    
        <div class="d-grid gap-2 col-6 mx-auto separadorTOP  ">            
            <a class="btn btn-info text-light separadorBOT" type="button" href="/">                     
                REGRESAR AL INICIO                              
            </a>
           
        </div>

    </div>

</header>

{% endblock %}