{% extends "base.html" %} {% block content %}
<!-- Masthead-->
<header class="masthead bg-dark text-white text-center ">
   
    <div class="mensaje container">

        <p class="separadorTOP fs-2">
            Gracias por participar en esta encuesta 
        </p>
    
        <div class="d-grid gap-2 col-6 mx-auto separadorTOP  ">            
            <a class="btn separadorBOT" type="button" href="/">                     
                REGRESAR AL INICIO                              
            </a>
           
        </div>

    </div>

</header>

{% endblock %}
