{% extends "base.html" %} {% block content %}
<!-- Masthead-->
<header class="masthead bg-dark text-white text-center ">
    <h2 id="contador" class="text-center py-2"></h2>
    <div class="contenedorI_E container">
        <div class="divIMG ">            
            <div id="imagenes" class="imagenes">                          
                <img src="{{personas[0]}}" style="width:500px;height: 500px ;" alt="...">           
            </div>
        </div>


        <div class="divEt">

            <section class="page-section mb-0" id="about"><!--bg-primary-->
                <h4>SELECCIONE LA ETNIA A LA QUE PERTENECE LA PERSONA DE LA IMAGEN MOSTRADA</h4>
                <div class="container">
                    <div class="text-center mt-4">
                        <a id="botonA" class="btn btn-xl text-light" onclick="SendEtnia('Afroecuatorino')"><!-- btn-outline-light-->
                            AFROECUATORIANO
                        </a>
                        <a id="botonE" class="btn btn-xl text-light"  onclick="SendEtnia('EuroDesendiente')"><!-- btn-outline-light-->
                            EURODESCENDIENTE
                        </a>
                        <a id="botonI" class="btn btn-xl text-light"  onclick="SendEtnia('Indigena')"><!-- btn-outline-light-->
                            INDIGENA
                        </a>
                        <a id="botonM" class="btn btn-xl text-light" onclick="SendEtnia('Mestizo')"><!-- btn-outline-light-->
                            MESTIZO 
                        </a>
                    </div>
                </div>
            </section>    
            <section id="porcentajes" class="invisible">
                <h2 id="etniaElegida"></h2>
                <div id="slider-bar" class="separadorTOP">
                    <label class="text-light"><h3> Afroecuatoriano </h3></label>
                    <label></label>
                    <input type="range" class="bg-dark" id="sliderbar-A" name="rangeInput" value="33" min="0" max="100" onchange="updateTextInputA(this.value);">
                    <input type="number" id="textInput-A" value="33" min="0" max="100" onchange="updateSliderA(this.value)">
                    <br>
                    <label class="text-light"><h3> EuroDesendiente </h3></label>
                    <label></label>
                    <input type="range" class="bg-dark" id="sliderbar-E" value="33" name="rangeInput" min="0" max="100" onchange="updateTextInputE(this.value);">
                    <input type="number" id="textInput-E" value="33" min="0" max="100" onchange="updateSliderE(this.value)">
                    <br>
                    <label class="text-light"><h3> Indigena </h3></label>
                    <label></label>
                    <input type="range" class="bg-dark" id="sliderbar-I" value="34" name="rangeInput" min="0" max="100" onchange="updateTextInputI(this.value);">
                    <input type="number" id="textInput-I" value="34" min="0" max="100" onchange="updateSliderI(this.value)">
                    <br>
                    
                    <div id="guardar" class="separadorTOP container"> 
                        <button type="button" class="btn btn-outline-warning" onclick="save()">
                            <!-- <a href="/guardar">SIGUIENTE</a> -->
                            SIGUIENTE
                        </button>
                    </div>
            
                </div>
            </section>

        
        </div>        
    </div>
    


    <!-- <h2 class="text-center py-2">PERSONAS</h2> -->
    <!-- <div class=""> -->
        <!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div id="imagenes" class="imagenes">            
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="1000000000">
                        <img src="{{personas[0]}}" style="width:300px;height: 300px ;" alt="...">
                        <div class="carousel-caption d-none d-md-block"> 
                            <h5>
                                {{ids[0]}}
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
                    <button class="carousel-control-prev" type="button" onclick="anterior()">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" onclick="siguiente()">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
        </div> -->
        <!-- <section class="page-section mb-0" id="about">
            <div class="container">
                <div class="text-center mt-4">
                    <a class="btn btn-xl text-light" href="/calificacion" onclick="SendEtnia('A')">
                        AFROECUATORIANO
                    </a>
                    <a class="btn btn-xl text-light" href="/calificacion" onclick="SendEtnia('E')">
                        EURODESCENDIENTE
                    </a>
                    <a class="btn btn-xl text-light" href="/calificacion" onclick="SendEtnia('I')">
                        INDIGENA
                    </a>
                    <a class="btn btn-xl text-light" href="/calificacion" onclick="SendEtnia('M')">
                        MESTIZO 
                    </a>
                </div>
            </div>
        </section> -->
    <!-- </div> -->
</header>
<script>
// CONTROL DE LOS BOTONES DE SELECCION DE ETNIA 
    window.localStorage.setItem('position',0);
    window.localStorage.removeItem('datos')

    var setcontador = ()=>{ 
        var id = {{ ids | tojson }};
        var pos = parseInt(window.localStorage.getItem('position'))+1
        var tam = id.length;
        var etiqueta = document.querySelector("#contador");
        etiqueta.innerHTML = `Imagen ${pos}/${tam}` 
    }

    setcontador();
    
    // var sendposition = () =>{
    //     var number = parseInt(window.localStorage.getItem('position'));
    //     number += 1;
    //     window.localStorage.setItem('position',number);
    // }

    // var siguiente = ()=>{
    //     var div = document.getElementById("imagenes");
    //     var posicion = parseInt(window.localStorage.getItem('position'));
    //     posicion += 1;
    //     if (posicion <= 429) {
    //         window.localStorage.setItem('position',posicion);
    //         var url = {{ personas | tojson }} ;
    //         var id = {{ ids | tojson }} ;
    //         var newcontent = "<img src="+url[posicion]+" style=\"width:300px;height: 300px ;\" alt=\"...\">  <div class=\"carousel-caption d-none d-md-block\"> <h5>"+id[posicion]+"</h5> </div>";
    //         div.innerHTML = newcontent;
    //     }
    // }

    // var anterior = ()=>{
    //     var div = document.getElementById("imagenes");
    //     var posicion = parseInt(window.localStorage.getItem('position'));
    //     posicion -= 1;
    //     if (posicion >= 0 & posicion <=429) {
    //         window.localStorage.setItem('position',posicion);
    //         var url = {{ personas | tojson }} ;
    //         var id = {{ ids | tojson }} ;
    //         var newcontent = "<img src="+url[posicion]+" style=\"width:300px;height: 300px ;\" alt=\"...\">  <div class=\"carousel-caption d-none d-md-block\"> <h5>"+id[posicion]+"</h5> </div>";
    //         div.innerHTML = newcontent;
    //     }
    // }

    
    var SendEtnia = (etnia) => {
        window.localStorage.setItem('etnia',etnia);
        var id = {{ ids | tojson }};
        var posicion = parseInt(window.localStorage.getItem('position'));
        window.localStorage.setItem('id',id[posicion])
        ocultarBotones();
        mostrarSlide();
    }

    function elegirEtnia(etnia){
        window.localStorage.setItem('etnia',etnia);

    }

    //-------------------------------------Ocultar--Mostrar paneles

    // botonA = document.querySelector("#botonA");
    // botonE = document.querySelector("#botonE");
    // botonI = document.querySelector("#botonI");
    // botonM = document.querySelector("#botonM");
    // botonA.addEventListener('click',()=>{
        //     ocultarSlider();
        //     mostrar();
        // })
        // botonE.addEventListener('click',()=>{
        //     ocultarSlider();
        //     mostrar();
        // })
        // botonI.addEventListener('click',()=>{
        //     ocultarSlider();
        //     mostrar();
        // })
        // botonM.addEventListener('click',()=>{
        //     ocultarSlider();
        //     mostrar();
        // })

    mostrarBotones = ()=>{
        btnOP = document.querySelector("#about");
        btnOP.classList.remove("invisible");
    }
    ocultarBotones = ()=>{
        btnOP = document.querySelector("#about");
        btnOP.classList.add("invisible");
    }

    mostrarSlide = ()=>{
        etniaEle()
        resetslider()
        var id = {{ ids | tojson }};
        var tam = id.length;
        if (tam == parseInt(window.localStorage.getItem('position'))+1){
            console.log('ya es hora de guardar');
            divBoton = document.querySelector("#guardar")
            divBoton.innerHTML = `<button type="button" class="btn btn-outline-warning" onclick="save()">
                                    <a href="/agradecimiento">FINALIZAR</a>
                                  </button>`
        }
        btnOP = document.querySelector("#porcentajes");
        btnOP.classList.remove("invisible");
    }
    ocultarSlide = ()=>{
        etniaEle()
        btnOP = document.querySelector("#porcentajes");
        btnOP.classList.add("invisible");
    }

// CONTROL DE LOS SLIDERS
    etniaEle = ()=> {
        const etnia = window.localStorage.getItem('etnia')
        h4 = document.querySelector("#etniaElegida")
        h4.innerHTML =`ETNIA: ${etnia}`
    }
    
    resetslider=()=> {
        window.localStorage.setItem('A',33); 
        window.localStorage.setItem('E',33); 
        window.localStorage.setItem('I',34); 		
        updateTextInputA(33);
        updateTextInputE(33);
        updateTextInputI(34);
    }
    
    window.localStorage.setItem('A',33); 
    window.localStorage.setItem('E',33); 
    window.localStorage.setItem('I',34); 		
    
    var posicion = window.localStorage.getItem('position');
    var etnia = window.localStorage.getItem('etnia');
    
    var updateSliderA = (val) => {
        // document.getElementById("skliderbar-A").value=parseInt(val);
        var num_A = parseInt(val);

        var sobrante = 100 - num_A;

        var num_E = window.localStorage.getItem('E')

        var num_I = window.localStorage.getItem('I')

        if (sobrante == 0) {
            num_E=0;
            num_I=0;
        }else if (sobrante % 2 == 0) {
            num_E = sobrante/2;
            num_I = sobrante/2;
        }else {
            num_E = (sobrante-1)/2;
            num_I = (sobrante-1)/2 + 1;
        }

        document.getElementById('textInput-E').value=num_E
        document.getElementById('textInput-I').value=num_I


        window.localStorage.setItem('A',val);
        window.localStorage.setItem('E',num_E);
        window.localStorage.setItem('I',num_I);

        document.getElementById("sliderbar-A").value=val;
        document.getElementById("sliderbar-E").value=num_E;
        document.getElementById("sliderbar-I").value=num_I;
        
    }

    var updateSliderE = (val) => {
        var num_A = parseInt(window.localStorage.getItem('A'));
        var num_E = parseInt(val);
        var piv_E = parseInt(window.localStorage.getItem('E'));
        var num_I = parseInt(window.localStorage.getItem('I'));
        
        var sobrante = 100-num_A;
        if (num_E > sobrante) {
            num_E=sobrante;
            num_I=0;
            document.getElementById('textInput-E').value=sobrante;
            document.getElementById('textInput-I').value=0;
        }else if (num_E < 0) {
            num_E=0;
            num_I=sobrante;
            document.getElementById('textInput-E').value=0;
            document.getElementById('textInput-I').value=sobrante;
        }else {
            var distancia = 0;
            if (num_E>piv_E) {
                distancia = num_E-piv_E;
                num_I -= distancia;
                document.getElementById('textInput-I').value=num_I;
            }else{
                distancia = piv_E-num_E;
                num_I += distancia;
                document.getElementById('textInput-I').value=num_I;
            }
        }
        
        window.localStorage.setItem('I',num_I);
        window.localStorage.setItem('E',num_E); 

        document.getElementById("sliderbar-E").value=num_E;
        document.getElementById("sliderbar-I").value=num_I;

    }

    var updateSliderI = (val) => {
        var num_A = parseInt(window.localStorage.getItem('A'));
        var num_E = parseInt(window.localStorage.getItem('E'));
        var num_I = parseInt(val);
        var piv_I = parseInt(window.localStorage.getItem('I'));

        var sobrante = 100-num_A;
        if (num_I > sobrante) {
            num_I = sobrante;
            num_E = 0;
            document.getElementById('textInput-I').value=sobrante;
            document.getElementById('textInput-E').value=0;
        }else if (num_I < 0) {
            num_I = 0;
            num_E = sobrante;
            document.getElementById('textInput-I').value=0;
            document.getElementById('textInput-E').value=sobrante;
        }else {
            var distancia = 0;
            if (num_I>piv_I) {
                distancia = num_I-piv_I;
                num_E -= distancia;
                document.getElementById('textInput-E').value=num_E;
            }else{
                distancia = piv_I-num_I;
                num_E += distancia;
                document.getElementById('textInput-E').value=num_E;
            }
        }
        
        window.localStorage.setItem('I',num_I);
        window.localStorage.setItem('E',num_E); 

        document.getElementById("sliderbar-E").value=num_E;
        document.getElementById("sliderbar-I").value=num_I;
      
    }

    var updateTextInputA = (val) => {
        document.getElementById('textInput-A').value=val;
        window.localStorage.setItem('A',val); 
        updateSliderA(val); 
    }

    var updateTextInputE = (val) => {
        document.getElementById('textInput-E').value=val;
        updateSliderE(val);
    }

    var updateTextInputI = (val) => {
        document.getElementById('textInput-I').value=val;
        updateSliderI(val);
    }

    var guardarDatos = ()=>{
        var datos = JSON.parse(window.localStorage.getItem('datos'))
        id = window.localStorage.getItem('id')
        etnia = window.localStorage.getItem('etnia')
        A = parseInt(window.localStorage.getItem('A'))
        E = parseInt(window.localStorage.getItem('E'))
        I = parseInt(window.localStorage.getItem('I'))
        if (datos){
            datos.push([id,etnia,A,E,I])
            window.localStorage.setItem('datos',JSON.stringify(datos))
        }else{
            datos = []
            datos.push([id,etnia,A,E,I])
            window.localStorage.setItem('datos',JSON.stringify(datos))
        }
    }

    // var save = ()=>{
    //     window.localStorage.setItem('position',parseInt(window.localStorage.getItem('position'))+1)
    //     var datos = JSON.parse(window.localStorage.getItem('datos'))
    //     id = window.localStorage.getItem('id')
    //     etnia = window.localStorage.getItem('etnia')
    //     A = parseInt(window.localStorage.getItem('A'))
    //     E = parseInt(window.localStorage.getItem('E'))
    //     I = parseInt(window.localStorage.getItem('I'))
    //     if (datos){
    //         datos.push([id,etnia,A,E,I])
    //         window.localStorage.setItem('datos',JSON.stringify(datos))
    //     }else{
    //         datos = []
    //         datos.push([id,etnia,A,E,I])
    //         window.localStorage.setItem('datos',JSON.stringify(datos))
    //     }
    //     var div = document.getElementById("imagenes");
    //     const posicion = parseInt(window.localStorage.getItem('position'));
    //     var url = {{ personas | tojson }} ;
    //     var newcontent = "<img src="+url[posicion]+" style=\"width:500px;height: 500px ;\" alt=\"...\">";
    //     div.innerHTML = newcontent;
    //     setcontador();
    //     ocultarSlide();
    //     mostrarBotones();
    // }

    var save = ()=>{
        const posicion = parseInt(window.localStorage.getItem('position'));
        guardarDatos(); 
        var id = {{ ids | tojson }};
        var tam = id.length;
        if (posicion == (tam-1)){
            console.log('guardar');
            SendInfo()
        }
        else{
            window.localStorage.setItem('position',parseInt(window.localStorage.getItem('position'))+1)
            var div = document.getElementById("imagenes");
            const posicion = parseInt(window.localStorage.getItem('position'));
            var url = {{ personas | tojson }} ;
            var newcontent = "<img src="+url[posicion]+" style=\"width:500px;height: 500px ;\" alt=\"...\">";
            div.innerHTML = newcontent;
            setcontador();
            ocultarSlide();
            mostrarBotones();
        }
    } 
    
    var SendInfo = () => {
        let respuestas = window.localStorage.getItem('datos')
        resetVar()
        request = new XMLHttpRequest();
        request.open('POST',`/guardar/${respuestas}`);
        request.send();
    }

    var resetVar =()=>{
        window.localStorage.removeItem('etnia')
        window.localStorage.removeItem('datos')
        window.localStorage.removeItem('A')
        window.localStorage.removeItem('I')
        window.localStorage.removeItem('E')
        window.localStorage.removeItem('id')
        window.localStorage.removeItem('position')
    }
//--------------------------------------Calificacion


</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    

{% endblock %}